<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_affirm_gateway">
        <observer name="affirm_gateway_data_assign" instance="FrontCommerce\HeadlessAffirm\Model\DataAssignObserver" />
    </event>
</config>